.App {
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Logo {
  width: 200px;
}
.nav {
  display: flex;
}

.nav > li {
  list-style: none;
  padding: 40px;
}
.App-header {
  background-color: #7a91ec;
  /* min-height: 10vh; */
  border: 1px solid black;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: "https://cdn.sortiraparis.com/images/80/100789/834071-too-restaurant-too-hotel-paris-photos-menu-entrees.jpg";
}

.cardContainer {
  width: 200px;
  padding: 10px;
  margin: 5px;
  background-color:rgb(194, 211, 147);
}

.cardContainer:hover {
border: 1px solid black;
cursor: pointer;
background-color:rgb(163, 224, 174);
}

.res-img {
  width: 100%;
}

.res-name {
  display: flex;
  justify-content: space-between;
}

.cuisines {
  flex-wrap: wrap;
}

.bodyContainer {
  display: flex;
  flex-wrap: wrap;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
